////////////////////////////////////////////////////////////////////////////////////////////////////
//                        by Yago Estévez. https://twitter.com/yagoestevez                        //
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Merriweather');

$primary-color        : #333333;
$secondary-color      : #ffffff;
$key-color            : #86d645;
 
:root, * {
  box-sizing          : border-box;
  padding             : 0;
  margin              : 0;
}

body {
  background          : $secondary-color; 
  color               : $primary-color;
  font-family         : 'Merriweather', serif;
  display             : flex;
  flex-direction      : column; 
  justify-content     : center;
  align-items         : center; 
}

hr {
  border              : 0;
  width               : 100%;
  padding-top         : 1rem;
  border-bottom       : 1px solid rgba( $primary-color, .3 );
}

a, a:visited {
  color               : $primary-color;
  text-decoration     : none;
  transition          : color 300ms;

  &:hover, &:active {
    color             : $key-color;
  }
}

#heading {
  padding             : 3rem 2rem 0 2rem;
  width               : 100%;
  text-align          : left;

  #title {
    font-size         : 2rem;
  }

  #description {
    font-size         : 1rem;
    color             : rgba( $primary-color, .7 );
  }

}

#chart-container {
  width               : 100%;
  max-width           : 1600px;
  position            : relative;
  display             : flex;
  flex-direction      : column;
  align-items         : center;
  justify-content     : center;

  #preloader {
    position          : absolute;
    transition        : opacity 300ms;
    color             : $primary-color;
    animation         : blink 1s infinite;
    @keyframes blink {
      0%   { opacity  :  1; }
      50%  { opacity  : .1; }
      100% { opacity  :  1; }
    }
    &.hidden {
      opacity         : 0;
      animation       : none;
      z-index         : -1;
    }
  }

}

#chart {
  overflow            : hidden;
  .tile-text {
    fill              : $secondary-color;
    font-size         : .7rem;
    pointer-events    : none;
    cursor            : default;
  }

}

#tooltip {
  pointer-events      : none;
  background          : $key-color;
  background          : repeating-linear-gradient(
                        45deg,
                        lighten( $key-color, 4% ),
                        lighten( $key-color, 4% ) 5px,
                        $key-color 5px,
                        $key-color 10px
                      );
  border              : 3px dashed $secondary-color;
  box-shadow          : 0px 0px 20px 5px rgba(black,.2);
  color               : rgba( $secondary-color, .7 );
  text-align          : left;
  font-size           : 1rem;
  max-width           : 400px;
  display             : flex;
  flex-direction      : column;
  transition          : opacity 300ms;

  .title {
    padding           : 1rem 1rem 0 1rem;
    height            : 100% !important;
    font-size         : 1.4rem; 
    text-shadow       : 2px 2px 5px rgba( black, .2 );
    text-align        : center;
    color             : $primary-color;
    hr {
      width           : 100%;
      padding-top     : 1rem;
      border-bottom   : 1px dashed $secondary-color;
    }
  }

  .desc {
    pointer-events    : none;
    padding           : 1rem;
    line-height       : 1.8rem;
    text-align        : center; 
  }

}

footer {
  text-align          : center;
  width               : 50%;
  color               : rgba( $primary-color, .5 );

  p {
    margin            : 1rem 0;
  }

}