////////////////////////////////////////////////////////////////////////////////////////////////////
//                        by Yago Estévez. https://twitter.com/yagoestevez                        //
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Merriweather');

$primary-color        : #ffcc00;
$secondary-color      : #ffffff;
$key-color            : #a50e98;
 
:root, * {
  box-sizing          : border-box;
  padding             : 0;
  margin              : 0;
}

body {
  background          : $secondary-color;
  background          : repeating-linear-gradient(
                        60deg,
                        lighten( $key-color, 4% ),
                        lighten( $key-color, 4% ) 5px,
                        $key-color 5px,
                        $key-color 10px
                      );
  color               : $primary-color;
  font-family         : 'Merriweather', serif;
  padding             : 2rem;
  display             : flex;
  flex-direction      : column; 
  justify-content     : center;
  align-items         : center; 
}

a, a:visited {
  color               : $primary-color;
  text-decoration     : none;
  transition          : color 300ms;

  &.active {
    color             : $secondary-color;
  }

  &:hover, &:active {
    color             : $secondary-color;
  }
}

#heading {
  padding             : 1rem 0 3rem 0;
  width               : 100%;
  max-width           : 1600px;
  text-align          : left;
  display             : flex;
  justify-content     : space-between;

  #title {
    font-size         : 2rem;
  }

  #description {
    font-size         : 1rem;
    color             : rgba( $secondary-color, .7 );
  }

  ul {
    li {
      list-style-type : none;
      text-align      : right;
      font-weight     : bold;
      line-height     : 1.4rem;
      cursor          : default;
      transition      : color 300ms; 
    }
  }
}

#chart-container {
  width               : 100%;
  max-width           : 1600px;
  position            : relative;
  display             : flex;
  flex-direction      : column;
  align-items         : center;
  justify-content     : center;
  background          : repeating-linear-gradient(
                        60deg,
                        darken( $secondary-color, 4% ),
                        darken( $secondary-color, 4% ) 5px,
                        $secondary-color 5px,
                        $secondary-color 10px
                      );

  #preloader {
    position          : absolute;
    transition        : opacity 300ms;
    color             : $key-color;
    animation         : blink 1s infinite;
    @keyframes blink {
      0%   { opacity  :  1; }
      50%  { opacity  : .1; }
      100% { opacity  :  1; }
    }
    &.hidden {
      opacity         : 0;
      animation       : none;
      z-index         : -1;
    }
  }

}

#chart {
  overflow            : hidden;
  .tile-text {
    fill              : $secondary-color;
    font-size         : .7rem;
    pointer-events    : none;
    cursor            : default;
  }
  #legend {
    .legend-text {
      fill            : $key-color;
      font-size       : .7rem;
    }
  }

}

#tooltip {
  pointer-events      : none;
  background          : $key-color;
  background          : repeating-linear-gradient(
                        60deg,
                        lighten( $key-color, 4% ),
                        lighten( $key-color, 4% ) 5px,
                        $key-color 5px,
                        $key-color 10px
                      );
  border              : 3px dashed $secondary-color;
  box-shadow          : 0px 0px 20px 5px rgba(black,.2);
  color               : $secondary-color;
  text-align          : left;
  font-size           : 1rem;
  max-width           : 400px;
  display             : flex;
  flex-direction      : column;
  transition          : opacity 300ms;

  .title {
    padding           : 1rem 1rem 0 1rem;
    height            : 100% !important;
    font-size         : 1.2rem; 
    text-shadow       : 2px 2px 5px rgba( black, .2 );
    text-align        : center;
    color             : $primary-color;
    hr {
      width           : 100%;
      padding-top     : 1rem;
      border          : 0;
      border-bottom   : 1px dashed $secondary-color;
    }
  }

  .desc {
    pointer-events    : none;
    padding           : 1rem;
    line-height       : 1.8rem;
    text-align        : center; 
  }

}

footer {
  text-align          : center;
  width               : 50%;
  color               : rgba( $primary-color, .5 );

  hr {
    border            : 0;
    width             : 100%;
    margin-top        : 2rem;
    border-bottom     : 1px solid rgba( $primary-color, .3 );
  }

  p {
    margin            : 1rem 0;
  }

}

@media only screen and (max-width: 500px) {
  #heading {
    flex-direction    : column;
    padding-bottom    : 0;
    text-align        : center;
    #title {
      font-size       : 1.2rem;
    }
    #description {
      font-size       : .7rem;
    }
    #menu {
      margin          : 1rem 0;
      padding         : 1rem;
      font-size       : .7rem;
      background      : rgba( $secondary-color, .1 );
      li {
        text-align    : center; 
      }
    }
  }
  #chart-container {
    margin            : .5rem;
  }
  #tooltip {
    max-width         : 300px;
    .title {
      font-size       : .8rem;
    }
    .desc {
      font-size       : .7rem;
      line-height     : 1rem; 
    }
  }
  footer {
    font-size         : .8rem;
    margin            : 0 1rem;
  }

}